// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$lightsilver: #9EACB4;
$darksilver: #848788;

//positoins of lane
$first-lane:5%;
$second-lane:21.5%;
$third-lane:35.8%;
$fourth-lane:47%;
$fifth-lane:61.3%;
$sixth-lane:75.6%;
$seventh-lane:89.9%;

//positions of line
$first-line:2%;
$second-line:19%;
$tird-line:28%;
$fourth-line:38%;
$fifth-line:47%;
$sixth-line:95%;
$seventh-line:78.5%;
$eighth-line:69%;
$ninth-line:59%;
$tenth-line:50%;