// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//positoins of lane
$left-side-lane:80px;
$left-half-lane:180px;
$center-lane:285px;
$right-half-lane:390px;
$right-side-lane:490px;

//positions of line
$first-line:28px;
$second-line:130px;
$tird-line:205px;
$fourth-line:280px;
$fifth-line:365px;
$sixth-line:735px;
$seventh-line:635px;
$eighth-line:565px;
$ninth-line:480px;
$tenth-line:400px;